@model IEnumerable<TrashProject.Models.HaulModels.HaulListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompactorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaulerInfoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyContactId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompactorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaulerInfoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyContactId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HaulId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HaulId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HaulId })
        </td>
    </tr>
}

</table>
